*{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* text-align:center; */
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(105, 99, 99);
}
header {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.navbar{
    display: flex;
    text-align: end;
}
.navbar button{
    width: 90px;
    height: 20px;
    font-weight: 200;
    font-size: 20px;
    gap: 10px;
    border: 0 0 white;
    box-shadow:0 0 0  white;
    color: #fafafa;
    background: none;
}
.nav_bar ul{
    /* display: flex; */
    flex-wrap: wrap;
    padding: 20px;
    
}

.nav_bar li{
    list-style: none;
}
.nav_bar li a{
    text-decoration: none;
    color:white ;
}

.back_img img{
    position: absolute;
    width: 100%;
    height: 70vh;
    box-shadow: 0 2px 700px rgba(0,0,0,0.9) inset;
    margin-top: 0;
    padding-top: 0;
    right: 0;
    top: -5vh;
    z-index: -1;
    /* filter: blur(2px); */
    background: url();
    background-repeat: no-repeat;
    background-size: auto;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.logo_info{
    justify-content: center;
    align-items: center;
    padding-top:100px ;
    text-align: center;
}
.logo_info img{
    width: 20%;
    height: 10%;
    padding: 10px;
}
.logo_info p{
    font-size: 28px;
    /* font-weight:100 ; */
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
.place_info{
    text-align: center;
    padding-bottom: 10px;

}
h5{
    font-size: 25px;
    font-weight: lighter;
    color: #131212;
    padding: 20px;
}
.place_info p{
    color: rgb(175, 171, 175);
    
}
.places_India , .country{
    margin-top: 20px;
    margin: 90px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:0.8em;
    
}
section h1{
    padding-left: 90px;
    color: #000;
}

.place{
    display: flex;
    gap:90px;
    width: 60%;
    height: 20px;
    border: 1px solid rgb(218, 215, 215);
    padding: 1.5rem ;
    border-radius: 0.8rem;

}
.place:hover{
    box-shadow: 0px 1px 1px 0px #a8a7a7;
}

.arrow{
    font-size: 10px;
}
.places_India a{
    font-size: 15px;
    text-decoration: none;
    color: black;
    /* max-width: 33.3333%; */
    
}
.country a{
    
    text-decoration: none;
    color: black;
}
.footer_container{
    background: rgb(243, 241, 241);
    padding-top: 40px;

}
.footer_row {
    display: flex;
    font-size: larger;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.footer_row li{
    list-style: none;
    padding: 10px;
}
.footer_row ul li a{
    text-decoration: none;
    color: darkgrey;
    font-size: 12px;
}
.footer_row ul li a:hover{
    color: rgb(121, 120, 120);
}
.footer_row h6{
    color: black;
    padding: 10px;
    font-size: small;
}

.social ul{
    display: flex;
}

.social img{
    width: 30px;
    height: 30px;
    padding: auto;
}
.logo_select{
    display: flex;
    padding-bottom: 30px;
    gap:45rem;
}
select{
    width: fit-content;
    height: 50px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 0.8rem;
}
.store_add img{
    width:60%;
    height: 30px;
}
.cookies{
    font-size: 12px;
    justify-content: space-evenly;
    padding: 20px 70px;
    
}

.signin{
    text-align: center;
    padding: 80px;
}
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-bottom: 200px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
.or{
    font-size: larger;
    text-align: center;
}
.input{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    padding: 1.5rem ;
    border-radius: 0.8rem;
}
.blank{
    width: 20px;
}
input{
    width: 260px;
    height: 50px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 0.5rem;
}
.select{
    display: grid;
    grid-template-columns: repeat(2,6.5rem);
    gap: 1px;
    justify-content: start;
    width: 60px;
    height: 140px;
}

.with{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    width: 60%;
    color: white;
    height: 20px;
    text-align: center;
    background: crimson;
    border: 1px solid rgb(218, 215, 215);
    padding: 1.5rem ;
    margin-top: 10px;
    margin: 20px;
}
.close{
    display: flex;
    justify-content: space-around;
}
.close button{
    text-align: end;
    background: transparent;
    border: none;
    font-size: large;
    color: rgb(255, 17, 0);
}



.body1{
    
    padding:0;
}

.body1 h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color:rgb(96, 100, 100)
}
.content a{
    text-decoration: none;
    color: #000;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin:50px 0;
}
.content{
    width: 20%;
    margin: 40px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top:10px;
    box-shadow: 0 4px 8px rgb(168, 166, 166),
    0 5px 5px  rgb(163, 161, 161);
    transition: .4s;
    background: #fffefe;
    
}
.content:hover{
    box-shadow: 0  3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px ,-8px);
}
.gallery img{
    width: 250px;
    height: 200px;
    text-align: center;
    margin:0 auto;
    display: block;
}
.gallery h6{
    font-size: 26px;
    text-align: center;
    color:#0c0c0c;
    margin: 0;
}
.content ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:0;

}
.content li{
    padding-top:5px;

}
.content button{
    text-align: center;
    font-size: 24px;
    color:#fdfdfd;
    width:100%;
    padding:15px;
    border:0;
    outline:none;
    cursor:pointer;
    margin-top:5px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius: 20px;
}
.buy{
    background: #f12020;
    
}
.pagination{
    text-align: center;
    margin: 30px 30px 80px;
    user-select:none;

}
.pagination li{
    display:inline-block;
    margin:5px;
    box-shadow: 0 5px 25px rgb(1 1 1/10%);
}
.pagination li a{
    color:#ffffff;
    font-size: larger;
    text-decoration: none;
}
.previous-page,.next-page{
    background:gold;
    width:60px;
    border-radius:50px;
    cursor:pointer;
    transition:0.3s ease;
}
.previous-page:hover{
    transform:translateX(-5px);
}
.next-page:hover{
    transform:translateX(5px);
}
.current-page,.dots{
    background: rgb(199, 185, 199);
    width:25px;
    border-radius: 50%;
    cursor:pointer;
}
.active{
    background: goldenrod;
}



.resinfo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: end;
    padding: 10px;

}
.name ,.dishAvailable{
    display: flex;
    gap:20px;
    

}
header button{
    color: #c0bcbc;
    border:0 solid  #ffffff;
    padding-top:20px ;

}
.add{
    width: 800px;
}
.add button{
    width: 180px;
}
.dish,.price{
    font-size: 12px;
    color: #a8a7a7;
}
.distance{
    font-size: 10px;
}
.main_head{
    display: flex;
    background: #ffffff;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 0;
    padding: 0;
}
.main_head button{
    color: #706f6f;
    border:0 solid  #ffffff;

}
.main_head input{
    border: 1px solid rgb(218, 215, 215);
    
    border-radius: 0.8rem;
}
.head{
    display: flex;
    padding: 0px;
}
.zomato_logo{
    font-size: 20px;
}
.logo_info1 img{
    width: 90px;
    height: 20px;
}
.searchbox {
    width: fit-content;
    height: 40px;
    border: 0px solid rgb(218, 215, 215);
    border-radius: 0.8rem;
}
.searchbox input{
    width: 200px;
    height: 40px;

}
.head button{
    
    text-align: end;
    background: transparent;
    border: none;
    font-size: large;
    color: rgb(146, 140, 140);
    
}
.explore{
    margin-top: 150px;
    margin-bottom: 0;
    padding: 40px 120px;
    background: #fafafa;
    justify-items: start;
}
.explore h3{
    padding-bottom: 30px;
    font-size: 30px;
}
.explore ul{
    display: grid;
    grid-template-columns: repeat(1,0.5fr);   
    gap: 1rem;
}
.explore ul li{
    list-style: none;
}
.explore select{
    width: 800px;
    height: 80px;
    text-align: start;
}
.circle{
    background: #fafafa;
    padding: 20px;
    margin-bottom: 20px;

}
.circle ul{
    display: flex;
    flex-wrap:wrap ;
    gap: 15px;
}

.circle ul li{
    list-style: none;
}
.circle img{
    height: 170px;
    border-radius: 50%;
    padding: 40px 10px;
}
.click{
    margin-left: -90px;
    align-items: center;
}
.click button{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
    width: 260px;
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 0.8rem;
    background: transparent;
    border: 1px solid rgb(134, 133, 133);
    padding: 1.5rem ;
    margin:0  120px;
    /* text-align: end; */
    /* background:rgb(235, 36, 36) ; */
    /* border: none; */
    font-size: large;
    color: rgb(148, 143, 143);
}
.nexthead{
    width: auto;
    height: 10vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0px 15px 20px -25px #111; 
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 0;

}
.nexthead .delivery{
    display: flex;
    flex-wrap: wrap;
    margin: 6px;

}
.nexthead .delivery_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e0dddd;
    margin: 2px;
    align-items: center;
    font-size: 25px;
}